/* Setting up the sprite containers for spritely to use*/
#skeleton {
    height: 350px;
    width: 406.77px;
    background-image: url("../images/sprites/skeleton.png");
    z-index: 2;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222); 

}

#bandit {
    height: 400px;
    width: 384px;
    background-image: url("../images/sprites/bandit.png");
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222); 
}

#adventurer {
    height: 370px;
    width: 500px;
    background-image: url("../images/sprites/adventurer.png");
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222); 
}

#rogue {
    height: 350px;
    width: 560px;
    background-image: url("../images/sprites/rogue.png");
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222); 
}





