html,
body {
    height: 100%;
    width: 100%;
}

/* Setting up the sprite containers for spritely to use*/

#skeleton {
    height: 350px;
    width: 406.77px;
    background-image: url("../images/sprites/skeleton.png");
    z-index: 2;
}

#bandit {
    height: 400px;
    width: 384px;
    background-image: url("../images/sprites/bandit.png")
}

#adventurer {
    height: 370px;
    width: 500px;
    background-image: url("../images/sprites/adventurer.png")
}

#rogue {
    height: 350px;
    width: 560px;
    background-image: url("../images/sprites/rogue.png")
}

#skeleton,
#bandit,
#adventurer,
#rogue {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#skeleton:hover,
#bandit:hover,
#adventurer:hover,
#rogue:hover {
    -webkit-filter: drop-shadow(5px 5px 5px rgb(244, 255, 90));
    filter: drop-shadow(5px 5px 5px rgb(244, 255, 90));
}

#characterlist {
    position: absolute;
    bottom: 0;
}

.flipped {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.container {
    height: 100%;
    position: relative;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fullfixed {
    position: relative;
    height: auto;
}

.onground {
    position: fixed;
    bottom: 30%;
}

.statusbar {
    width: 80%;
    height: auto;
    background-color: none;
    margin: 0 auto;
}

.progress-bar {
    background-color: red;
}

#attackbutton {
    background-color: gray;
    padding: 30px 80px;
    margin-top: 1%;
}

#fight {
    background-image: url("../images/backgrounds/fight.png");
    background-attachment: fixed;
    background-position: center bottom;
}

#indexbackground {
    background-image: url("../images/backgrounds/backgroundindex.png");
    background-position: center bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#characterselect {
    background-image: url("../images/backgrounds/backgroundcs.png");
    background-position: center bottom;
    /* background-size: 100% auto; */
    background-repeat: no-repeat;
}